html,
body {
	background-color: var(--background);
	color: var(--text);
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	scrollbar-gutter: stable both-edges;

	transition:
		background-color var(--transition-short),
		color var(--transition-short);
}

button:not(.omit-styles) {
	border: none;
	padding: 0.5rem;
	border-radius: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
	transition:
		background-color var(--transition-short),
		color var(--transition-short),
		transform var(--transition-short),
		box-shadow var(--transition-short);

	background-color: var(--brand);
	color: var(--text-on-brand);

	&:hover {
		transform: scale(1.1);
	}
}

header button:not(.omit-styles) {
	background-color: transparent;

	&:hover {
		background-color: color-mix(in srgb, white 50%, transparent);
		color: var(--text);
	}
}

.svelte-select {
	transition:
		background-color var(--transition-short),
		border var(--transition-short);
	z-index: 3;

	--item-is-active-bg: var(--brand);
	--border: color-mix(in srgb, var(--brand) 20%, transparent) 2px solid;
	--border-hover: color-mix(in srgb, var(--brand) 40%, transparent) 2px solid;
	--border-focused: var(--brand) 2px solid;
	--item-hover-bg: color-mix(in srgb, var(--brand) 70%, transparent);
	--clear-select-focus-outline: none;
	--list-background: var(--surface1);
	--border-radius: 0.5rem;
	--list-border-radius: 0.5rem;
	--list-border: var(--surface2) 2px solid;
	--disabled-background: var(--background);
	--disabled-border-color: var(--surface2);
	--height: 44px;
	--max-height: 44px;
}
