html,
body {
	background-color: var(--background);
	color: var(--text);
	margin: 0;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	scrollbar-gutter: stable both-edges;

	transition:
		background-color var(--transition-short),
		color var(--transition-short);
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

button:not(.omit-styles) {
	border: none;
	padding: 0.5rem;
	border-radius: 0.5rem;
	font-size: 1rem;
	transition:
		background-color var(--transition-short),
		color var(--transition-short),
		transform var(--transition-short),
		box-shadow var(--transition-short);

	background-color: var(--brand);
	color: var(--text-on-brand);

	&:hover:not(:disabled) {
		transform: scale(1.1);
	}

	&:disabled {
		opacity: 0.5;
	}

	&:not(:disabled) {
		cursor: pointer;
	}
}

header button:not(.omit-styles) {
	background-color: transparent;

	&:hover {
		background-color: color-mix(in srgb, white 50%, transparent);
		color: var(--text);
	}
}

.svelte-select {
	transition:
		background-color var(--transition-short),
		border var(--transition-short);
	z-index: 3;

	--item-is-active-bg: var(--brand);
	--border: color-mix(in srgb, var(--brand) 20%, transparent) 2px solid;
	--border-hover: color-mix(in srgb, var(--brand) 40%, transparent) 2px solid;
	--border-focused: var(--brand) 2px solid;
	--item-hover-bg: color-mix(in srgb, var(--brand) 70%, transparent);
	--clear-select-focus-outline: none;
	--list-background: var(--surface1);
	--border-radius: 0.5rem;
	--list-border-radius: 0.5rem;
	--list-border: var(--surface2) 2px solid;
	--disabled-background: var(--background);
	--disabled-border-color: var(--surface2);
	/* Genuinely no idea why this number works */
	--height: 3.05rem;
	--multi-item-bg: var(--surface1);
	--multi-item-outline: none;
	--multi-item-clear-icon-color: var(--text);
}

code {
	background-color: var(--surface1);
	padding: 0.15rem 0.3rem;
	border-radius: 0.1rem;
}

input,
textarea {
	padding: 0.65rem;
	border-radius: 0.5rem;
	border: color-mix(in srgb, var(--brand) 20%, transparent) 2px solid;
	background-color: var(--background);
	color: var(--text);
	font-size: 1rem;
	height: 1.5rem;
	transition:
		background-color var(--transition-short),
		border var(--transition-short),
		color var(--transition-short);

	&:disabled {
		border-color: var(--surface2);
	}

	&:hover {
		border: color-mix(in srgb, var(--brand) 40%, transparent) 2px solid;
	}

	&:focus {
		border: var(--brand) 2px solid;
		outline: none;
	}
}

