:root {
	--brand: #ff7b26;
	--background: #ffffff;
	--text: #000000;
	--text-on-brand: #ffffff;
	--surface1: #f0f0f0;
	--surface2: #dddddd;
	--button-fill: #ffffff;

	--header: #ff7b26;
	--header-theme-toggle-fill: #ffffff;
	--header-drop-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.7);
	--button-glow-spread: 0.5rem;
}

:root[data-theme="dark"] {
	--brand: #ff7b26;
	--background: #121212;
	--text: #ffffff;
	--text-on-brand: #ffffff;
	--surface1: #2a2a2a;
	--surface2: #4e4e4e;
	--button-fill: #ff7b26;

	--header: #242424;
	--header-theme-toggle-fill: #ff7b26;
	--header-drop-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 1);
	--button-glow-spread: 0rem;
}
